.grid {
  display: grid;
  gap: 20px;
  margin: 24px 0;
}

.cols1 {
  grid-template-columns: 1fr;
}

.cols2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols4 {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .cols2,
  .cols3,
  .cols4 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 996px) and (min-width: 769px) {
  .cols3,
  .cols4 {
    grid-template-columns: repeat(2, 1fr);
  }
}